@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .background-dark {
        @apply text-txt-light bg-gradient-to-tr from-background-dark via-background-dark-2 to-background-dark-2 bg-fixed
    }
    
    .background-light {
        @apply text-txt-dark bg-gradient-to-tr from-background-light-2 via-background-light to-background-light-2 bg-fixed
    }
    .hero-clip-path {
        clip-path: polygon(0% 0%, 100% 0%, 100% 56.8%, 0% 78.3%);
    }
    .hero-clip-path-sm {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%); 
        clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
    }

    .slide-in-animation {
        animation-duration: 300ms;
        animation-name: slidein;
        overflow: hidden;
    }
    .slide-out-animation {
        animation-duration: 300ms;
        animation-name: slideout;
        overflow: hidden;

    }
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;

}
}


@keyframes slideout{
  from {
    margin-left: 0;
    width: 100%;

  }

  to {
    margin-left: -100%;
    width: 300%;
  }
}



html {
    scroll-behavior: smooth;
}

.text-shadow-md-dark {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.text-shadow-md-white {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.hero-filter {
    backdrop-filter: invert(22%) sepia(93%) saturate(1703%) hue-rotate(193deg) brightness(94%) contrast(102%);
}


/* link undeline hover effect */

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#00abe1, #00abe1)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}


/*========== Navbar ==========*/


/* The navigation menu */

.navbar {
    overflow: hidden;
    background-color: #333;
}


