@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.text-shadow-md-dark {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-shadow-md-white {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.hero-filter {
    backdrop-filter: invert(22%) sepia(93%) saturate(1703%) hue-rotate(193deg) brightness(94%) contrast(102%);
}


/* link undeline hover effect */

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#00abe1, #00abe1)
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}


/*========== Navbar ==========*/


/* The navigation menu */

.navbar {
    overflow: hidden;
    background-color: #333;
}


/* Navigation links */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The subnavigation menu */

.subnav {
    float: left;
    overflow: hidden;
}


/* Subnav button */

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: red;
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}


/* Style the subnav links */

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: block;
}